<div class="modal fade modal-edit-ref" id="modalEditarRefeicao" tabindex="-1" aria-labelledby="modalEditarRefeicaoLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalEditarRefeicaoLabel">Editar Refeição</h5>
      </div>

      <div class="modal-body">
        <form id="formEditarRefeicao">
          <input type="hidden" id="refeicaoId" name="id">

          <div class="row g-3">
            <div class="col-md-6">
              <label class="form-label-custom">Nome</label>
              <input type="text" class="form-control" id="nomeEditar" name="nome" readonly>
            </div>
            <div class="col-md-3">
              <label class="form-label-custom">Porção</label>
              <input type="number" class="form-control" id="porcaoEditar" name="porcao" min="1" value="100">
            </div>
          </div>

          <hr>

          <div class="row g-3">
            <div class="col-md-4">
              <label class="form-label-custom">Calorias</label>
              <input type="number" class="form-control" id="caloriasEditar" name="calorias" readonly>
            </div>
            <div class="col-md-4">
              <label class="form-label-custom">Proteínas</label>
              <input type="number" class="form-control" id="proteinasEditar" name="proteinas" readonly>
            </div>
            <div class="col-md-4">
              <label class="form-label-custom">Carboidratos</label>
              <input type="number" class="form-control" id="carboidratosEditar" name="carboidratos" readonly>
            </div>
            <div class="col-md-4">
              <label class="form-label-custom">Gorduras</label>
              <input type="number" class="form-control" id="gordurasEditar" name="gorduras" readonly>
            </div>
          </div>
        </form>
      </div>

      <div class="modal-footer d-flex justify-content-between">
        <button type="button" class="btn btn-danger" id="btnRemoverRefeicao">
          <i class="bi bi-trash"></i> Remover
        </button>
        <div>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Cancelar
          </button>
          <button type="button" class="btn btn-primary" id="btnSalvarRefeicao">
            Salvar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
