<div class="modal fade modal-adicionar-ref" id="modalAdicionarAlimento" tabindex="-1" aria-labelledby="modalAdicionarAlimentoLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalAdicionarAlimentoLabel">Adicionar Alimento</h5>
      </div>
      <div class="modal-body">
        <form id="formAdicionarAlimento">
          <div class="mb-3">
            <label for="buscaAlimento" class="form-label-custom">Buscar Alimento</label>
            <select id="buscaAlimento" class="form-control" placeholder="Digite o nome do alimento..."></select>
          </div>

          <div class="row g-3">
            <div class="col-md-6">
              <label class="form-label-custom">Nome</label>
              <input type="text" class="form-control" id="nome" name="nome" readonly>
            </div>
            <div class="col-md-3">
              <label class="form-label-custom">Porção</label>
              <input type="number" class="form-control" id="porcao" name="porcao" min="1" value="100">
            </div>
          </div>

          <hr>

          <div class="row g-3">
            <div class="col-md-4">
              <label class="form-label-custom">Calorias</label>
              <input type="text" class="form-control" id="calorias" name="calorias" readonly>
            </div>
            <div class="col-md-4">
              <label class="form-label-custom">Proteínas</label>
              <input type="text" class="form-control" id="proteinas" name="proteinas" readonly>
            </div>
            <div class="col-md-4">
              <label class="form-label-custom">Carboidratos</label>
              <input type="text" class="form-control" id="carboidratos" name="carboidratos" readonly>
            </div>
            <div class="col-md-4">
              <label class="form-label-custom">Gorduras</label>
              <input type="text" class="form-control" id="gorduras" name="gorduras" readonly>
            </div>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" id="btnAdicionarAlimento">Adicionar</button>
      </div>
    </div>
  </div>
</div>
