<div class="modal fade modal-adicionar-ref" id="modalAdicionarAlimento" tabindex="-1" aria-labelledby="modalAdicionarAlimentoLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalAdicionarAlimentoLabel">Adicionar Alimento</h5>
      </div>
      <div class="modal-body text-center">
        <form id="formAdicionarAlimento">
          <div class="mb-3">
            <select id="buscaAlimento" class="form-control text-center" placeholder="Digite o nome do alimento..."></select>
          </div>

          <div class="row g-3">
            <div class="col-md-6">
              <label class="form-label-custom">Nome</label>
              <input type="text" class="form-control text-center" id="nome" name="nome" readonly>
            </div>
            <div class="col-md-4">
              <label class="form-label-custom">Porção</label>
              <div class="input-group">
                <input
                  type="number"
                  class="form-control text-center"
                  id="porcao"
                  name="porcao"
                  min="1"
                  value="100"
                >

                <span class="input-group-text" id="unidadePorcao">
                  g
                </span>
              </div>
            </div>
          </div>

          <hr>

          <div class="row g-3">
            <div class="col-md-4">
              <label class="form-label-custom">Calorias</label>
              <input type="text" class="form-control text-center" id="calorias" name="calorias" readonly>
            </div>
            <div class="col-md-4">
              <label class="form-label-custom">Proteínas</label>
              <input type="text" class="form-control text-center" id="proteinas" name="proteinas" readonly>
            </div>
            <div class="col-md-4">
              <label class="form-label-custom">Carboidratos</label>
              <input type="text" class="form-control text-center" id="carboidratos" name="carboidratos" readonly>
            </div>
            <div class="col-md-4">
              <label class="form-label-custom">Gorduras</label>
              <input type="text" class="form-control text-center" id="gorduras" name="gorduras" readonly>
            </div>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" id="btnAdicionarAlimento">Adicionar</button>
      </div>
    </div>
  </div>
</div>
